<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdi.ucm.prestobus" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.fdi.ucm.prestobus.utilidades.BusApplication">
        <activity
            android:name=".ParadaListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParadaDetailActivity"
            android:label="@string/title_parada_detail"
            android:parentActivityName=".ParadaListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ParadaListActivity" />
        </activity>
        <activity
            android:name=".ListaLineas"
            android:label="@string/title_activity_lista_lineas"
            android:parentActivityName=".ParadaListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fdi.ucm.prestobus.ParadaListActivity" />
        </activity>
        <activity
            android:name=".SelectorSentido"
            android:label="@string/title_activity_selector_sentido"
            android:parentActivityName=".ListaLineas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fdi.ucm.prestobus.ListaLineas" />
        </activity>
        <activity
            android:name=".ListaParadas"
            android:label="@string/title_activity_lista_paradas"
            android:parentActivityName=".ListaLineas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fdi.ucm.prestobus.SelectorSentido" />
        </activity>
    </application>

</manifest>
